body{
    background-color: palevioletred;
}



/* .btn-3d {
  padding: 12px 25px;
  background: #6a0dad;
  color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 5px #4b0082;
  cursor: pointer;
  transition: 0.2s;
}

.btn-3d:active {
  box-shadow: 0 2px #4b0082;
  transform: translateY(3px);
} */




   .btn-glass {
  padding: 12px 25px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-glass:hover {
  background: rgba(155, 48, 255, 0.3);
}






















* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.chat-container {
  width: 350px;
  height: 600px;
  background: #1a1a2e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(155, 48, 255, 0.3);
}

/* Header */
.chat-header {
  background: #6a0dad;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Join */
.join-box {
  display: flex;
  padding: 10px;
  gap: 10px;
  background: #111;
}

.join-box input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

/* Messages */
#messages {
  list-style: none;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Message bubbles */
#messages li {
  max-width: 70%;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

/* My messages */
.my-message {
  align-self: flex-end;
  background: #9b30ff;
  color: white;
}

/* Others */
.other-message {
  align-self: flex-start;
  background: #2a2a40;
  color: white;
}

/* Name */
.name {
  font-size: 12px;
  opacity: 0.7;
}

/* Text */
.text {
  font-size: 14px;
}

/* Input */
.chat-input {
  display: flex;
  padding: 10px;
  background: #111;
  gap: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* Button */
.btn {
  padding: 10px 15px;
  background: #9b30ff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #b366ff;
}
